MQTT_BROKER=tcp://mosquitto:1883
GENERATOR_ID=stream-generator
INGESTION_ID=stream-ingestor
GATEWAY_ADDR=gateway:50051
PUBLISH_RATE=10  # events/sec
INGESTION_QUEUE_SIZE=10000
GRPC_PORT=:50051
HTTP_PORT=:8080
DB_BATCH_INTERVAL=3s
DB_BATCH_SIZE=1000
POSTGRES_DB=stream_aggregator
POSTGRES_USER=stream_aggregator
POSTGRES_PASSWORD=stream_aggregator_dev
DATABASE_URL=postgres://stream_aggregator:stream_aggregator_dev@postgres:5432/stream_aggregator?sslmode=disable
